# domserver
CONTAINER_TIMEZONE=Asia/Karachi
DOMJUDGE_ADMIN_PASSWORD=admin_password
MYSQL_HOST=dj-database
WEBAPP_BASEURL=domjudge
# DOMJUDGE_TRUSTED_PROXY=127.0.0.0/8

# db
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_USER=domjudge
MYSQL_PASSWORD=djpw
MYSQL_DATABASE=domjudge
